---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import ContentLayout from "@layouts/ContentLayout.astro";
import Card from "@components/Card.astro";
import HorizontalRule from "@components/HorizontalRule.astro";
import Title from "@components/Title.astro";

const posts = (await getCollection("posts")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<BaseLayout title="記事一覧">
  <ContentLayout>
    <div class="grid gap-2">
      <Title title="Posts" />
      <ul class="grid gap-4">
        {
          posts.map((post) => (
            <>
              <HorizontalRule />
              <li>
                <Card frontmatter={post.data} url={`posts/${post.slug}`} />
              </li>
            </>
          ))
        }
      </ul>
    </div>
  </ContentLayout>
</BaseLayout>
