---
import HeaderLink from "./HeaderLink.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import TwitterIcon from "./icons/TwitterIcon.astro";
---

<li>
  <HeaderLink href="/posts">記事一覧</HeaderLink>
</li>
<li>
  <HeaderLink href="/about">プロフィール</HeaderLink>
</li>
<li>
  <HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">
    <TwitterIcon />
  </HeaderLink>
</li>
<li>
  <HeaderLink href="https://github.com/withastro/astro" target="_blank">
    <GithubIcon />
  </HeaderLink>
</li>
