---
import { GITHUB_URL, TWITTER_URL } from "src/consts";
import HeaderLink from "./HeaderLink.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import TwitterIcon from "./icons/TwitterIcon.astro";
---

<li>
  <HeaderLink href="/posts">記事一覧</HeaderLink>
</li>
<li>
  <HeaderLink href="/profile">プロフィール</HeaderLink>
</li>
<li>
  <HeaderLink href={TWITTER_URL} target="_blank">
    <TwitterIcon />
  </HeaderLink>
</li>
<li>
  <HeaderLink href={GITHUB_URL} target="_blank">
    <GithubIcon />
  </HeaderLink>
</li>
