---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header
  class="max-w-screen-xl w-full m-auto px-8 py-12 flex items-center justify-between"
>
  <h2 class="text-primary text-xl lg:text-2xl font-bold">
    <a href="/">
      {SITE_TITLE}
    </a>
  </h2>
  <nav class="flex">
    <HeaderLink href="/blog">技術</HeaderLink>
    <HeaderLink href="/note">雑記</HeaderLink>
    <HeaderLink href="/about">プロフィール</HeaderLink>
    <HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">
      Twitter
    </HeaderLink>
    <HeaderLink href="https://github.com/withastro/astro" target="_blank">
      GitHub
    </HeaderLink>
  </nav>
</header>
