---
import HeaderLink from "./HeaderLink.astro";
---

<li>
  <HeaderLink href="/blog">技術</HeaderLink>
</li>
<li>
  <HeaderLink href="/note">雑記</HeaderLink>
</li>
<li>
  <HeaderLink href="/about">プロフィール</HeaderLink>
</li>
<li>
  <HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">
    Twitter
  </HeaderLink>
</li>
<li>
  <HeaderLink href="https://github.com/withastro/astro" target="_blank">
    GitHub
  </HeaderLink>
</li>
