---
import ContentLayout from "@layouts/ContentLayout.astro";
---

<aside class="hidden w-full lg:flex sticky top-6 right-0 h-fit">
  <div class="flex-1">
    <ContentLayout>sidebar</ContentLayout>
  </div>
</aside>
